{{define "title"}}Text Snippet #{{.TextSnippet.ID}}{{end}}

{{define "main"}}
    <div class='snippet'>
        <div class='metadata'>
            <strong>{{.TextSnippet.Title}}</strong>
            <span>#{{.TextSnippet.ID}}</span>
        </div>
        <pre><code>{{.TextSnippet.Content}}</code></pre>
        <div class='metadata'>
            <time>Created: {{.TextSnippet.Created}}</time>
            <time>Expires: {{.TextSnippet.Expires}}</time>
        </div>
    </div>
{{end}}